flask
flask-cors
flask-jwt-extended
bcrypt
sqlalchemy
psycopg2-binary
pandas
numpy
scikit-learn
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu
transformers
requests
beautifulsoup4
python-dotenv
gunicorn
resend
