# Web framework
flask
flask-cors
flask-jwt-extended
flask-mail

# Database
sqlalchemy
psycopg2-binary

# Auth
bcrypt

# Server
gunicorn

# Env
python-dotenv

# AI / ML
torch --index-url https://download.pytorch.org/whl/cpu
transformers
scikit-learn
numpy
pandas

# Scraper (not used on Render but needed for local)
requests
beautifulsoup4
